@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


.navbar-main-style {
  height: 84px;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 5px 1px rgba(248, 245, 245, 0.952);
  /* box-shadow: 0 2px 4px 0 rgba(0,0,0,.2); */
  padding-top: 27px;
  padding-bottom: 23px;
  text-align: center;
  align-items: center;
}

.logo-navbar {
  background-color: #7126b5;
  width: 100px;
  height: 34px;
  margin-left: 136px;
  position: absolute;
}

.navbar-container {
  padding: 30px;
}

.cam {
  position: absolute;
  width: 96px;
  height: 96px;
  background-color: #e2d4f0;
  border-radius: 12px;
}

/* search style */

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  gap: 16px;
  position: absolute;
  width: 444px;
  height: 48px;
  left: 260px;
  /* top: 18px; */
}

.search input {
  width: 444px;
  height: 48px;
  border-radius: 16px;
  border-width: 0ch;
  background-color: #EEEEEE;
;
}

.search-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 350px;
}

/* masuk style */

.masuk {
  background-color: #7126b5;
  border-radius: 12px;
  border-width: 0ch;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 14px 16px;
  gap: 8px;
  width: 105px;
  height: 48px;

  color: white;

  margin-left: 1111px;
}

.login-icon {
  width: 20px;
  height: 20px;
}

.icon-navbar {
    margin-left: 1000px;
}

.icon-navbar-wh{
    margin-left: 31px;
    width: 24px;
    height: 24px;
}